<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <h2><%= @brewery.name %></h2> 
</p>

<p>
  <i>Established at <%= @brewery.year %></i>
</p>

<p>
	Number of beers: <%= @brewery.beers.count %>
</p>

<p>
	<% @brewery.beers.each do |beer| %>
		<%= link_to beer.name, beer %>
	<% end %>
</p>

<p>	<% if @brewery.ratings_amount == 0 %>
	This brewery has <%= pluralize(@brewery.ratings_amount, "rating")%>.
	<% else %>
	This brewery has <%= pluralize(@brewery.ratings_amount, "rating") %>, the average rating is <%= @brewery.average_rating %>
	<% end %>
</p>

<p>Here you can find a <%= link_to 'list of beers', beers_path %></p>

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
