<h1>New Beer</h1>

<%= form_for(@beer) do |f| %>
	Name <br><%= f.text_field :name %> <br>
	Style <br><%= f.select :style, options_for_select(@styles)%> <br>
	Brewery <br><%= f.select :brewery_id, options_from_collection_for_select(@breweries, :id, :name) %> <br><br>
	<%= f.submit %> <br><br>
<% end %>

<%= link_to 'Back', beers_path %>


	